<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>
    
    <div class="center">
        <h1><%= NotFound %></h1>
        <img src="/images/tv404.jpg" alt="404 error - not found" id="img404" />
    </div>
    
    <% include partials/footer %>
</body>
</html>
