<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>

    <!-- Page content START -->
    <div id="listOfShows">
        <div class="title redBg">
            <div class="content">
                <h1><%= SubpageTitle %></h1>
            </div>
        </div>

        <div id="playerContainer" class="youtube">
            <iframe id="player" src="https://www.youtube.com/embed/<%= StreamYT %>?autoplay=1" frameborder=”0″ allowfullscreen></iframe>
        </div>

        <script type="text/javascript">
            showPlyrYT();
        </script>

        <!--<div class="shows">
            <div class="content">
                <h1><%= WorkingOn %></h1>
            </div>
        </div>-->
    </div>
    <!-- Page content END -->

    <% include partials/footer %>
</body>
</html>