<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>

    <div id="weather">
        <div class="title greenBg">
            <div class="content">
                <h1><%= SubpageTitle %></h1>
            </div>
        </div>

        <div class="weatherFrame">
            <!--<div class="content">-->
                <iframe src="https://embed.windy.com/embed2.html?lat=49.817&lon=15.612&detailLat=49.074&detailLon=16.622&width=1000&height=600&zoom=8&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=m%2Fs&metricTemp=%C2%B0C&radarRange=-1" frameborder="0"></iframe>
                <div id="scrollInfo">
                    <span><%= ScrollInfoText %></span>
                </div>
            <!--</div>-->
        </div>
    </div>

    <% include partials/footer %>

    <script type="text/javascript">
    var scrollInfoTimeout = 0;
    var scrollInfoDisable = false;
    $('.weatherFrame').click(function () {
        $('.weatherFrame iframe').css("pointer-events", "auto");
        
        scrollInfoTimeout = 0;
        scrollInfoDisable = true;
        $('#scrollInfo').fadeOut("slow");
    });

    $('.weatherFrame').mouseleave(function() {
        $('.weatherFrame iframe').css("pointer-events", "none");
        
        scrollInfoTimeout = 0;
        scrollInfoDisable = false;
        $('#scrollInfo').fadeOut("slow");
    });

    /*$(window).scroll(function() {
        $('#scrollInfo').fadeIn("slow").delay(2000).fadeOut("slow");
    });*/
    $(window).bind('mousewheel DOMMouseScroll', function(event){
        if(scrollInfoDisable == false) {
            if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
                console.log('scrolling up !');
                scrollInfoTimeout += 500;
            }
            else {
                console.log('scrolling down !');
                scrollInfoTimeout += 500;
            }

            if($("#scrollInfo").is(":visible")){
                $('#scrollInfo').delay(scrollInfoTimeout).fadeOut("slow");
            }
            else {
                $('#scrollInfo').fadeIn("slow");
            }
        }
    });

    </script>
</body>
</html>
