<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/header %>

    <div id="weather">
        <div class="title greenBg">
            <div class="content">
                <h1><%= SubpageTitle %></h1>
            </div>
        </div>

        <div class="weatherFrame">
            <div class="content">
                <iframe src="https://www.ventusky.com/"></iframe>
            </div>
        </div>
    </div>

    <% include partials/footer %>
</body>
</html>
