<div id="bottomlinks">
    <div class="content">
        <ul>
            <li>
                <a href="https://www.pirati.cz/">Pirátská strana</a>
            </li>
            <li>
                <a href="https://www.piratskelisty.cz/">Pirátské listy</a>
            </li>
            <li>
                <a href="https://www.piratskatelevize.cz/">Pirátská televize</a>
            </li>
            <li>
                <a href="https://forum.pirati.cz/">Pirátské fórum</a>
            </li>
        </ul>
        

        <div class="rightCol">
            <%= Footer.WatchUsAlso %><br />
            <a href="https://www.facebook.com/PiratskaTelevize/" id="facebook">
                <div title="Facebook"></div>
            </a>
            <a href="https://www.youtube.com/channel/UChyBxYiAZD-KiBecgQo5KxQ" id="youtube">
                <div title="YouTube"></div>
            </a>
            <br />
            <div id="footer">
                <a href="https://krtkovo.eu/">Ondřej Kotas</a>&nbsp;<a href="https://github.com/PirateTV/ServerApp/blob/master/LICENSE.md"><span class="copyleft">&copy;</a></span>&nbsp;2020
                |
                <a href="#"><%= Footer.ScrollUp %></a>
                <br />
                
            </div>
        </div>
    </div>
</div>
<!--
<div id="footer">
    <div class="content">
        <span class="copyleft"><a href="https://github.com/PirateTV/ServerApp/blob/master/LICENSE.md">&copy;</a></span>&nbsp;<%= Header.Title %> 2020 | <a href="#"><%= Footer.ScrollUp %></a>
    </div>
</div>
-->